body {
  margin: 0;
  padding: 0;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  padding: 15px;
  border: 5px solid green;
  text-align: center;
  min-height: 350px;
  margin-bottom: 10px;
}

.box__title {
  margin-bottom: 10px;
}

.item {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 5px solid greenyellow;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.box__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media (min-width: 1024px) {
  .box {
    width: 45%;
    margin-bottom: 0;
  }

  .box__list {
    justify-content: start;
  }
}
